body { min-height: 1200px }
div#scrolling { height: 280px; width: 260px; overflow: scroll; }
div#scroll { height: 1000px; }

div::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(,0,0,0);
    border-radius: 0px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: red;
}
div::-webkit-scrollbar-thumb:hover{
	background: #b30000;
}