a.logo:hover,a.logo:focus{
    color: white;   
}

.youtube{
    -webkit-box-shadow: 0px 0px 9px 0px rgba(242,242,242,1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(242,242,242,1);
    box-shadow: 0px 0px 9px 0px rgba(242,242,242,1);
}

.navbar{
    -webkit-box-shadow: 0px 5px 18px -5px rgba(3,3,3,1);
    -moz-box-shadow: 0px 5px 18px -5px rgba(3,3,3,1);
    box-shadow: 0px 5px 18px -5px rgba(3,3,3,1);
}

#about,#our-team,#contact-us{
    background-color: black !important;
}

.form-control,contact-form{
    background-color: #2f383d !important;
}

.member-title{
    background-color: #506cf0 !important;
}
/* Scroll Down Button  */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}



#section04 { background: url(https://picsum.photos/1200/800?image=506) center center / cover no-repeat;}


.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section04 a {
  padding-top: 60px;
}
#section04 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
/* End Scroll Down Button  */